{% extends 'logbook/base.html' %}
{% block content %}
    <h5>Analytics</h5>
    <div class="table-responsive">  
        <table class='table table-hover'>
            <thead class='thead-dark'>
                <tr>
                    <th>Category</th>
                    <th class="text-right">Average Time Spent</th>
                </tr>
            </thead>
            <tbody>
                {% for category, time in data.items %}
                    <tr>
                        <td>{{ category }}</td>
                        <td class="text-right">{{ time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

    
           