{% extends 'logbook/base.html' %}
{% block content %}
    <div class='container'>
        <h1>
            My Logbook
        </h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <table class='table'>
        <thead>
            <tr>
                <th>Days</th>
                <th class="text-right">
                        <form class="form-inline my-2 my-lg-0" method="POST">
                                {% csrf_token %}
                                <input class="form-control mr-sm-2" type="date" placeholder="Add Entry" name="entryDate">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Entry</button>
                        </form>
                </th>
            </tr>
        </thead>
    <tbody>
    {% if all_days %}
            {% for day in all_days %}
                <tr><td colspan="2"><left><a href="{% url 'logbook:day-view' day.id %}">{{ day.entryDate }}</a></left></td></tr>
            {% endfor %}
    {% else %}
        <tr><td class="text-center" colspan="2">No entries are available. Add an entry!</td></tr>
    {% endif %}
    </tbody>
    </table>
{% endblock %}